<a href="https://colab.research.google.com/github/vyshnavi-2/AIAC_2026/blob/main/6_3_Assignment_1617.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
class Student:
    def __init__(self, name, roll_number, branch):
        self.name = name
        self.roll_number = roll_number
        self.branch = branch

    def display_details(self):
        print("Student Name:", self.name)
        print("Roll Number:", self.roll_number)
        print("Branch:", self.branch)


# Creating an object
s1 = Student("Rahul", 101, "Computer Science")

# Displaying details
s1.display_details()

Student Name: Rahul
Roll Number: 101
Branch: Computer Science

**Task Description #2:** **Loops (Multiples of a Number)**

In [2]:
def print_multiples(num):
    for i in range(1, 11):
        print(num * i)


print_multiples(5)

5
10
15
20
25
30
35
40
45
50

**Version 2:** **Using while loop**

In [3]:
def print_multiples(num):
    i = 1
    while i <= 10:
        print(num * i)
        i += 1


print_multiples(5)

5
10
15
20
25
30
35
40
45
50

**Task Description #3:** **Conditional Statements (Age Classification)**

**Version 1:** **Nested if-elif-else**

In [4]:
def classify_age(age):
    if age < 13:
        return "Child"
    elif age < 20:
        return "Teenager"
    elif age < 60:
        return "Adult"
    else:
        return "Senior"


print(classify_age(15))
print(classify_age(45))

Teenager
Adult

**Version 2:** **Dictionary-Based / Simplified**

In [5]:
def classify_age(age):
    categories = {
        range(0, 13): "Child",
        range(13, 20): "Teenager",
        range(20, 60): "Adult",
        range(60, 150): "Senior"
    }

    for r in categories:
        if age in r:
            return categories[r]

**Task Description #4:** **For and While Loops (Sum of First n Numbers)**

**Using for loop**

In [6]:
def sum_to_n(n):
    total = 0
    for i in range(1, n + 1):
        total += i
    return total


print(sum_to_n(5))

15

**Using while loop**

In [7]:
def sum_to_n(n):
    total = 0
    i = 1
    while i <= n:
        total += i
        i += 1
    return total

**Using Mathematical Formula**

In [8]:
def sum_to_n(n):
    return n * (n + 1) // 2

**Task Description #5:** **Classes (Bank Account Class)**

In [9]:
class BankAccount:
    def __init__(self, account_holder, balance=0):
        # Initialize name and starting balance
        self.account_holder = account_holder
        self.balance = balance

    def deposit(self, amount):
        # Add money to the account
        if amount > 0:
            self.balance += amount
            print("Deposited:", amount)
        else:
            print("Invalid deposit amount")

    def withdraw(self, amount):
        # Remove money if sufficient balance exists
        if amount <= self.balance:
            self.balance -= amount
            print("Withdrawn:", amount)
        else:
            print("Insufficient balance")

    def check_balance(self):
        # Display current balance
        print("Current Balance:", self.balance)


# Creating account
acc = BankAccount("Anita", 5000)

acc.deposit(2000)
acc.withdraw(3000)
acc.check_balance()

Deposited: 2000
Withdrawn: 3000
Current Balance: 4000